In [1]:
import numpy as np
import pandas as pd
import mysql.connector

In [2]:
data = pd.read_csv('../ted_scrap/data/final.csv')
data = pd.DataFrame(data)
data = data.where(pd.notnull(data), None)

In [3]:
data

,sentence,start,end,duration,talks_id
0,We are at a remarkable moment in time.,25.131,29.156,4.025,2093
1,We face over the next two decades two fundam...,29.156,41.385,12.229,2093
2,Let me illustrate with an example.,41.385,44.107,2.722,2093
3,I first visited Beijing 25 years ago to teach...,44.107,50.407,6.300,2093
4,China was getting serious about market econom...,50.407,60.173,9.766,2093
...,...,...,...,...,...
2338,"To do it right, we have to build business mod...",729.858,741.858,12.000,91
2339,"Because at the end of the day, it's about enga...",741.858,744.858,3.000,91
2340,It's about understanding that people really d...,744.858,758.858,14.000,91
2341,And so I urge all of you to think next time ...,758.858,777.858,19.000,91
2342,Thank you.,777.858,778.858,1.000,91

In [6]:

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    port = 3306,
    password = "1234",
    database = "tedbear"
)
mycursor = mydb.cursor()

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported